<!DOCTYPE html>
<html ng-app="videoSystem">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/app.css"/>
    <title>Video system</title>
</head>
<body ng-controller="VideoSystemController">
    <h1>Videos:</h1>
    <p><strong>Sort by: </strong></p>
    <select ng-model="orderBy">
        <option value="">None</option>
        <option value="title">Title</option>
        <option value="length">Length</option>
        <option value="date">Date</option>
        <option value="likes">Likes</option>
    </select>
    <p><strong>Filter by:</strong></p>
    <label for="date-filter">Category: </label>
    <select ng-model="categoryFilter">
        <option value="">All</option>
        <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
    </select>
    <label for="date-filter">Date: </label>
    <select id="date-filter" ng-model="dateFilter">
        <option value="">All</option>
        <option ng-repeat="date in dates" value="{{date | date:'dd-MM-yyyy'}}">{{date | date:'dd-MM-yyyy'}}</option>
    </select>
    <label for="has-subtitles">Has subtitles: </label>
    <select id="has-subtitles" ng-model="subtitleFilter">
        <option value="">All</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <div class="video-container" ng-repeat="video in videos | filter: {category: categoryFilter, haveSubtitles: subtitleFilter, dateString: dateFilter} | orderBy: orderBy">
        <p><strong>Title: </strong>{{video.title}}</p>
        <img src="" ng-src="{{video.pictureUrl}}" alt="{{video.title}}">
        <p><strong>Length: </strong>{{video.length}}</p>
        <p><strong>Category: </strong>{{video.category}}</p>
        <p><strong>Subscribers: </strong>{{video.subscribers}}</p>
        <p><strong>Date: </strong>{{video.date | date:'dd-MM-yyyy'}}</p>
        <p><strong>Have subtitles: </strong>{{checkForSubtitles(video.haveSubtitles)}}</p>
        <p><strong>Comments:</strong></p>
        <ul>
            <li ng-repeat="comment in video.comments">
                <p><strong>Username: </strong>{{comment.username}}</p>
                <p><strong>Content: </strong>{{comment.content}}</p>
                <p><strong>Date: </strong>{{comment.date | date:'dd-MM-yyyy'}}</p>
                <p><strong>Likes: </strong>{{comment.likes}}</p>
                <p><strong>Website: </strong><a href="{{comment.websiteUrl}}">{{comment.websiteUrl}}</a></p>
            </li>
        </ul>
    </div>

    <button ng-click="showAddVideoForm()">{{newVideoButtonText}}</button>
    <form name="newVideoForm" id="new-video" ng-show="visibleVideoForm">
        <label for="title">Title: </label><br/>
        <input type="text" id="title" ng-required="visibleVideoForm" ng-model="video.title">
        <span>*</span><br/>
        <label for="picture-url">Picture URL: </label><br/>
        <input type="text" id="picture-url" ng-required="visibleVideoForm" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" ng-model="video.pictureUrl">
        <span>*</span><br/>
        <label for="length">Length: </label><br/>
        <input type="number" id="length" ng-model="video.length"><br/>
        <label for="category">Category: </label><br/>
        <input type="text" id="category" ng-required="visibleVideoForm" ng-model="video.category">
        <span>*</span><br/>
        <label for="subscribers">Subscribers: </label><br/>
        <input type="number" id="subscribers" ng-model="video.subscribers"><br/>
        <label for="date">Date: </label><br/>
        <input type="date" id="date" ng-model="video.date"><br/>
        <label for="subtitles">Have subtitles (yes/no): </label><br/>
        <input type="text" id="subtitles" ng-pattern="/yes|no/" ng-model="video.subtitles">

        <button ng-disabled="newVideoForm.$invalid" ng-click="saveVideo(video)">Add video</button>
        <button ng-click="closeForm(newVideoForm)">Cancel</button>
    </form>

    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/videoData.js"></script>
    <script src="js/controllers/VideoSystemController.js"></script>
</body>
</html>